.titles{
	width: 140px;
	float: left;
}

#form{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin:10px;
	margin-left: 500px;
	padding: 10px;
	width: 320px;
	height:330px;
}

.inputNote{
	border-radius: 5px;
	width: 170px;
}

.btn-submit{
    width: 170px;
	height: 40px;
	float: right;
    margin-right: 10px;
    border-radius: 5px;
}

#form h2{
	text-align: center;
}

.pin{
	width: 30px;
}

.pin-input{
	width: 140px;
	height: 20px;
	float: left;
	text-align: left;
	margin-top: 13px;
}

.container-notes{
	width: 1350px;
	text-align: center;
}

.note{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	text-align: left;
	margin:10px;
	padding: 10px;
	width: 320px;
	margin-left: 460px;
}

.hide{
	display: none;
}

.note-content{
	width: 300px;
}

.btn-delete{
	width: 65px;
	height: 30px;
	float: right;
    margin-right: 10px;
	margin-top: 10px;
    border-radius: 5px;
}

.lists{
	display: flex;
}

.list-notes{
	list-style: none;
}

.pForBtnsEdit{
	height: 30px;
}

.inputEdit{
	width: 315px;
	height: 120px;
	border-radius: 5px;
}

.pinExmpl{
	float: right;
}

.colorEdit{
	width: 315px;
	border-radius: 5px;
}