.container{
    width: 800px;
	height: 600px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin:10px;
	padding: 10px;
}

.btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 0.6em;
	color: #000000;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/* display: none; */
	-webkit-align-self: center;
		-ms-flex-item-align: center;
			align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	padding: 5px 10px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0 auto;
	margin-top: 10px;
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn:hover {
	box-shadow: 0 0 40px 40px #000000 inset;
	color: white;
}

.inputCount{
	display: flex;
	width: 120px;
	height: 24px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	font-size: 1.1rem;
	border: 2px solid #000000;
	border-radius: 0.6em;
	color: #000000;
}

.check{
	margin-top: 10px;
	text-align: center;
}

.checkGame{
  margin-top: 10px;
	text-align: center;
}

.textMouse{
	color: #000000;
	font-size: 1.3rem;
	font-family: 'Montserrat', sans-serif;
}
/* lb1 */
.lb1 {      
    margin-left: 10px;
}
#highload1 {       
               display: none;
}
#highload1+.lb1, #highload1+.lb1::before, #highload1+.lb1::after {
               transition: all .3s;
}
#highload1+.lb1 {
               display: inline-block;
               position: relative;
               width: 50px;
               height: 24px;
               border-radius: 12px;
               cursor: pointer;
}
#highload1+.lb1::after {
     border-radius: 50%;
               content: '';
               position: absolute;
               top: 2px;
               left: 2px;
               width: 20px;
               height: 20px;
               background-color: white;          
}
#highload1:checked+.lb1::after {
               left: 28px;
               background-color: #f7f7f7;
}
 
#highload1+.lb1 {             
               background-color: #ccc;
}
#highload1:checked+.lb1 {
               background-color: black;
}
#highload1:checked+.lb1::before {
               color: #fff;
}

/* lb2 */
.lb2 {      
  margin-left: 10px;
}
#highload2 {       
             display: none;
}
#highload2+.lb2, #highload2+.lb2::before, #highload2+.lb2::after {
             transition: all .3s;
}
#highload2+.lb2 {
             display: inline-block;
             position: relative;
             width: 50px;
             height: 24px;
             border-radius: 12px;
             cursor: pointer;
}
#highload2+.lb2::after {
   border-radius: 50%;
             content: '';
             position: absolute;
             top: 2px;
             left: 2px;
             width: 20px;
             height: 20px;
             background-color: white;          
}
#highload2:checked+.lb2::after {
             left: 28px;
             background-color: #f7f7f7;
}

#highload2+.lb2 {             
             background-color: #ccc;
}
#highload2:checked+.lb2 {
             background-color: black;
}
#highload2:checked+.lb2::before {
             color: #fff;
}

/*  */
.radios{
	text-align: center;
}

.lb2{
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}
 /* для элемента input c type="radio" */
 .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    /* border-color: #b3d7ff; */
	border-color: #2c2c2c;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: #585858;
    border-color: #585858;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked)+label::before {
    border-color: #303030;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled+label::before {
    background-color: #e9ecef;
  }